.arrowRight {
    color: white;
    top: 30%;
    height: 200px;
    z-index: 200;    
}

.carouselBkg {
    background-color: #9da5ae;
}

#ecosystem {
    margin-top: -5%;
}

#ecosystem:hover {
    transform: scale(1.2);
    transition: 2s ease;
}

h1 {
    color: black;
    text-align: center;
}

iframe {
    background-color: transparent;
    object-position: 20px;
}

#impactChain1, #impactChain2, 
#impactChain3, #impactChain4 {
    float: left;
    position: relative;
    display: inline-block;
    min-width: 100px;
}

#impactChainGraphicBox {
    text-align: center;
    margin: auto;    
}

#impactChainTextBox {
    padding-top: 10px;
}

#impactChain1 {
    z-index: 4;
    transition: 2s ease;
}

#impactChain1:hover {
    transform: rotate(90deg);
    transition: 2s ease;
}

#impactChain2 {
    z-index: 3;
    transition: 2s ease;
}

#impactChain2:hover {
    transform: rotate(90deg);
    transition: 2s ease;
}

#impactChain3 {
    z-index: 2;
    transition: 2s ease;
}

#impactChain3:hover {
    transform: rotate(90deg);
    transition: 2s ease;
}

#impactChain4 {
    z-index: 1;
    transition: 1s ease;
}

#impactChain4:hover {
    transform: scale(1.15);
    transition: 2s ease;
}

.impactChainText {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
}

#mission {
    margin: 10px 10px -10px 10px;
    padding: 1% 5% 5% 5%;
}

#mission:hover {
    background-color: rgb(207, 201, 223);
    transition: 2s ease;
}

#slider {
    /* background-image: url('https://picsum.photos/1100/600'); */
    width: 80%;
    height: 70vh;
    margin: auto;
    z-index: 0;
}

#partnerHead {
    color: white;
}

@media screen and (max-width: 600px) {

#impactChainGraphicBox {
    float: left;
    display: inline-block;
}

#impactChainTextBox {
    float: right;
    display: inline-block;
}

.impactChainText {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 10%;
}

#impactChain1, #impactChain2, 
#impactChain3, #impactChain4 {
    display: block;
    float: none;
    transition: 2s ease;
}

#impactChain1, #impactChain2, 
#impactChain3 {
    transform: rotate(90deg);
}

#impactChain1:hover, 
#impactChain2:hover, 
#impactChain3:hover {
    transform: rotate(-15deg);
    transition: 2s ease;
}


}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }