.talent-card-container {
  padding: 0 30px !important;
  /* margin-bottom: 10rem; */
  margin-top: 3rem;
}

.talent-area-header {
  padding-bottom: 1rem;
  color: #164e85;
}  

/* .talent-paper {
  padding: 40px;
} */

.talent-card {
  padding: 30px 30px 10px 30px;
}

.talent-logo1 {
    max-height: 50px;
    width: auto;
}

.talent-logo2 {
    max-height: 45px;
    width: auto;
}

.talent-logo3 {
    max-height: 40px;
    width: auto;
}

.talent-logo4 {
     max-height: 35px;
    width: auto;
}